.calculator{
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: coral; */
    display: grid;
    grid-template-columns: repeat(4,25%);
    /* grid-template-rows: 48px repeat(5, 1fr); */
    grid-template-rows: 48px 48px 48px 48px 48px;
    grid-gap: 2px;
    /* background: linear-gradient(to right, rgb(68, 160, 141), rgb(9, 54, 55)); */
}