@font-face {
  font-family: 'RobotoMono';
  src: url('./../fonts//RobotoMono-Thin.ttf');
}

*{
  font-family: 'RobotoMono', 'monospace';

}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* background: linear-gradient(to right, rgb(103, 178, 111), rgb(76, 162, 205)); */
  /* background: linear-gradient(to right, rgb(156, 236, 251), rgb(101, 199, 247), rgb(0, 82, 212)); */
  /* background: linear-gradient(to right, rgb(68, 160, 141), rgb(9, 54, 55)); */
  background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));


}
